<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matthieu_louf.movie_blindtest_app">
    <!-- Add Internet capabilities to our application -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.matthieu_louf.movie_blindtest_app.pages.userPage.UserSettingsActivity"
            android:label="@string/user_settings_title" />
        <activity
            android:name="com.matthieu_louf.movie_blindtest_app.pages.blindtestPage.BlindtestMovieActivity"
            android:screenOrientation="portrait"
            android:label="" />
        <activity
            android:name="com.matthieu_louf.movie_blindtest_app.pages.detailsPage.MovieDetailsActivity"
            android:label="@string/movie_details" />
        <activity
            android:name="com.matthieu_louf.movie_blindtest_app.pages.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.matthieu_louf.movie_blindtest_app.api.MovieAPIHelper" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ads_application_id"/>

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="@string/analytics_deactivated" />

    </application>

</manifest>