<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moviedb_app">
    <!-- Add Internet capabilities to our application -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/popcorn"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/popcorn"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.User.UserSettingsActivity"
            android:label="@string/user_settings_title" />
        <activity
            android:name=".ui.blindtest.BlindtestMovieActivity"
            android:label="@string/blindtest_page_title" />
        <activity
            android:name=".ui.detail_movie_activity.MovieDetailsActivity"
            android:label="@string/movie_details" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".network.MovieAPIHelper" />
    </application>

</manifest>